[submodule "Shesha"]
	path = Shesha
	url = https://MaziMuhlari:h7z4mwhc3bpwc3qjn232qeimnmsm2fctpaywbmij6qnwltkksgtq@dev.azure.com/boxfusion/SheshaBackendv3/_git/SheshaBackendv3
	branch = d/Release3
	
  