[submodule "boxfusion-health-common"]
	path = boxfusion-health-common
	url = https://dev.azure.com/boxfusion/PD-HealthCommon/_git/PD-Health-Core
	branch = clients/mpdoh-his_abp_662
[submodule "shesha-core-enterprise"]
	path = shesha-core-enterprise
	url = https://dev.azure.com/boxfusion/Shesha%20Web%20v3.0/_git/shesha-core-enterprise
    branch = datables-temp-fix
