/.vs/*
**/*.suo
**/*.user
**/*.bak
**/*.orig
**/UpgradeLog.htm
**/bin/*
**/obj/*
**/App_Data/Logs/*
**/ElmahLogs/*
Logs
ElmahLogs
Upload
/src/Boxfusion.Health.His.Web.Host/appsettings.Neo.json
/src/Boxfusion.Health.His.Web.Host/appsettings.Development.json
