/.vs/*
**/*.suo
**/*.user
**/*.bak
**/*.orig
**/UpgradeLog.htm
**/bin/*
**/obj/*
**/App_Data/Logs/*
**/ElmahLogs/*
Logs
ElmahLogs
Upload
/src/Boxfusion.Health.His.Web.Host/appsettings.Neo.json
/src/Boxfusion.Health.His.Web.Host/appsettings.Development.json
src/Boxfusion.Health.His.Web.Host/web.config
/sh.exe.stackdump
/src/Boxfusion.Health.His.Bookings.Domain/Boxfusion.Health.His.Bookings.xml
/src/Boxfusion.Health.His.Bookings.Domain/Boxfusion.Health.His.Administration.xml
/src/Boxfusion.Health.His.Common.Domain/Boxfusion.Health.His.Domain.xml
/src/Boxfusion.Health.His.Houghton.Customisation/Boxfusion.Health.His.Houghton.Customisation.xml
